<div class="box">
  <div class="box-inner">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    <h2>プロフィール修正</h2>
    <!--アカウント編集時に名前を入力できるようにフォームを追加-->
    <div class="box-name">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="box-email">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <!--アカウント編集時に電話番号を入力できるようにフォームを追加-->
    <div class="box-phone_number">
      <%= f.label :phone_number %><br />
      <%= f.text_field :phone_number, autofocus: true %>
    </div>  

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="box-password">
      <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>（<%= @minimum_password_length %>文字以上）</em>
        <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="box-password">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <% if false %>
      <div class="box-password">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "修正", :class => "btn btn-primary" %>
    </div>

  <% end %>

  <% if false %>
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  <% end %>

  <%= link_to "戻る", :back, :class => "link-back" %>
