<%= form_with(model: @user, url: user_path(@user), local: true, method: :patch) do |f| %>
  <%= render 'shared/error_messages', object: @user %>
  <h2>プロフィール修正</h2>

  <div class="box-name">
    <%= f.label :name %><br />
    <%= f.text_field :name, readonly: true %>
  </div>
  
  <div class="box-phone_number">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  
  <%= f.submit yield(:button_text), class: "btn btn-primary btn-actions" %>
<% end %>