<% provide(:title, 'All-court') %>
<% provide(:class_text, 'All-court') %>
<% provide(:button_text, '一覧') %>

<h1 class="All-court-title">すべてのテニスコート</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-courts">
    <thead>
      <tr>
        <th class="court-name"><%= Court.human_attribute_name :court_name %></th>
        <th><%= Court.human_attribute_name :court_note %></th>
        <th></th>
      </tr>
    </thead>
    
    <% @courts.each do |court| %>
      <tr>     
        <td><%= court.court_name %></td>
        <td><%= court.court_note %></td>
        <td class="court-btn">
          <%= link_to "編集", edit_court_path(court), class: "btn btn-success" %>
          <%= link_to "削除", court, method: :delete,
              data: { confirm: "削除してよろしいですか？" },
              class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>

  <h4><%= link_to "テニスコート追加", new_court_path, class: "btn btn-primary" %></h4>

</div>
