<div class="box">
  <div class="box-inner">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2>ログイン</h2>
    <div class="box-email">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, :class => "form-control my-form" %>
    </div>
    <div class="box-password">
      <div class="a-row">
        <div class="column-left">
          <%= f.label :パスワード %><br />
        </div>     
        <div class="column-right">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "パスワードを忘れた場合", new_password_path(resource_name), id: "link-list" %><br />
          <% end %>
        </div>
      </div>
      <%= f.password_field :password, autocomplete: "off", :class => "form-control my-form" %>
    </div>
    <div class="actions">
      <%= f.submit "ログイン", :class => "btn btn-primary" %>
      <% if devise_mapping.rememberable? -%> 
        <div class="remember">
          <%= f.check_box :remember_me %>
          <%= f.label :ログインしたままにする %>
        </div>
      <% end %>
    </div>
  <% end %>  
  <%= render "devise/shared/links" %>
  </div>
</div>