<header class="navbar navbar-fixed-top navbar-inverse", id="header">
  <div class="container">
    <%= link_to "セレブエンジニア テニスコート", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "トップへ", root_path, id: "header-list" %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdown-title" aria-expanded="true">
                <%= current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% unless current_user.admin? %>
                  <li><%= link_to "テニスコート予約", court_path(Court.first) %></li>
                  <% unless current_user.provider == "line" %>
                    <li><%= link_to "プロフィール修正", edit_user_registration_path %></li>
                  <% else %>
                    <li><%= link_to "プロフィール修正", edit_user_path(current_user) %></li>
                  <% end %>
                <% else %>
                  <li><%= link_to "すべての利用者", users_path %></li>
                  <li><%= link_to "すべてのテニスコート", courts_path %></li>
                  <li><%= link_to "テニスコート予約状況", show_admin_court_path(Court.first) %></li> 
                <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> 
                </li>
              </ul>
            </li>
        <% else %>
          <li><%= link_to "トップへ", root_path, id: "header-list" %></li>         
          <li><%= link_to "ログイン", user_session_path, id: "header-list" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>